@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Cyberpunk";
  src: url("$assets/Cyberpunk-Regular.woff2") format("woff2");
}

:root {
  --witcher-border-caret: polygon(
    0 calc(50% - 5px),
    5px 50%,
    0 calc(50% + 5px),
    0 100%,
    2px 100%,
    2px calc(50% + 5.5px),
    7.5px 50%,
    2px calc(50% - 5.5px),
    2px 0,
    0 0
  );
}

@layer base {
  html {
    scrollbar-gutter: stable;
    overflow-y: auto;
  }
}

@layer components {
  .error-text {
    @apply uppercase italic text-red;
  }

  .cyber-text {
    @apply font-[Cyberpunk] text-yellow;

    text-shadow: 0.2ex 0.2ex 0 color-mix(in srgb, theme("colors.cyan.DEFAULT") 90%, transparent);
  }

  .hover-glow:hover,
  .hover-glow:focus {
    filter: drop-shadow(0 0 0.4rem theme("colors.cyan.dark"));
  }

  .absolutely-centered {
    @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
  }
}

@layer utilities {
  .small-caps {
    font-variant: small-caps;
  }

  .text-shadow {
    text-shadow: 0.3ex 0.2ex 0.15rem rgba(0, 0, 0, 0.9);
  }

  .fade-in {
    animation: fade-in var(--fade-duration, 2s) var(--fade-delay, 0s) both;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}
